/*CSS DOCUMENT*/
.logo {
display: block;
margin-left: auto;
margin-right: auto;
width: 100%;
max-width: 30em;
}
.image {
display: block;
margin-left: auto;
margin-right: auto;
width: 100%;
}
ul.nav {
list-style-type: none;
margin-left: auto;
margin-right: auto;
padding: auto; 
overflow: hidden;
background-color: #333;
font-size: 1.2em;

text-align: center;
}
.nav li a{
color: rgb(255,255,255);
text-decoration: none;
}
.nav li {
display: inline;
text-align: center;
font-family: baskerville-display-pt, serif;
font-weight: 400;
font-style: normal;
padding: .25em;
}
.nav li:hover:not(.active) {
background-color: #111;
}
.active {
background-color: #4CAF50;
}
h1 {
text-align: left;
font-family: baskerville-display-pt, serif;
font-weight: 700;
font-style: normal;
}
h2 {
font-family: source-sans-pro,sans-serif;
font-weight: 700;
font-style: italic;
margin-bottom: 0em;
margin-top: 1em;
max-width: 40em;
}
h3 {
font-family: source-sans-pro,sans-serif;
font-weight: 400;
font-style: normal;
margin-bottom: .5em;
max-width: 40em;
}
h4 {
font-family: source-sans-pro,sans-serif;
font-weight: 300;
font-style: normal;
margin-top: 0em;
margin-bottom: 2em;
max-width: 40em;
}
p {
font-family: source-sans-pro, sans-serif;
font-weight: 300;
font-style: italic;
margin-bottom: .5em;
margin-top: .5em;
font-size: 1em;
max-width: 40em;
}
ul.items {
list-style-type: none;
}
ul.information {
list-style-type: none;
}
.feedback {
text-align: left;
margin: auto;
margin-top: .75em; 
padding: auto;
}
.feed {
text-align: left;
margin-top: .5em;
margin-bottom: 1em;
margin-left: 2em;
}
.a {
margin-left: 2.5em; 
margin-top: 0em;
margin-bottom: 1em;
}
.locations {
text-align: left;
max-width: 40em;
margin: 1em;
}
.hours {
font-size: 1.3em;
margin-left: 2em;
}
.location {
margin-left: 1.4em;
}
footer {
background-color: #4CAF50;
font-family: baskerville-display-pt, serif;
font-weight: 400;
font-style: normal;
text-align: center;
padding: .1em;
color: rgb(255,255,255);
margin-left: auto;
margin-right: auto;
margin-top: 1em;
}
.container{
    max-width: 50em;
    margin:auto;
}
